[tool.ruff]
line-length = 120
target-version = "py39"

[tool.ruff.lint]
extend-select = [
  "I",    # isort
  "B",    # flake8-bugbear
  "C4",   # flake8-comprehensions
  "FA",   # flake8-future-annotations
  "Q",    # flake8-quotes
  "PGH",  # pygrep-hooks
  "RUF",  # ruff
  "W",    # pycodestyle
  "D",    # pydocstyle
  "UP",   # pyupgrade
  "YTT",  # flake8-2020
  "C90",  # mccabe
]

[tool.ruff.lint.per-file-ignores]
# Ignore all D (docstring) rules in the test folder
"**/{tests,docs,tools}/*" = [
    "D100",  # Missing docstring in public module
    "D101",  # Missing docstring in public class
    "D102",  # Missing docstring in public method
    "D103",  # Missing docstring in public function
    "D104",  # Missing docstring in public package
    "D105",  # Missing docstring in magic method
    "D106",  # Missing docstring in public nested class
    "D107",  # Missing docstring in __init__
]

[tool.ruff.lint.pyupgrade]
keep-runtime-typing = true


[tool.ruff.lint.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "single"
multiline-quotes = "double"

[tool.ruff.lint.mccabe]
max-complexity = 10

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.format]
docstring-code-format = true
quote-style = "single"

[tool.pytest.ini_options]
pythonpath = ["."]
